html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
.header {
   padding:10px;
   width: 100%;
   position: sticky;
   top: 0px;
}
#container-body {
   padding:10px;
  /* padding-bottom:60px; */   /* Height of the footer */
}
#container-footer {
   position:sticky;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}
#hprofile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#hlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  list-style: none;
  /* border: 1px solid darkgray; */
  box-shadow: 0px 0px 4px 3px #00338061;
  padding: 10px;
  margin: 10px;
}
#hlist:hover {
  box-shadow: 0px 0px 8px 8px #00338061;
}
#hlist img {
  width: 100%;
  height: 200px;
  box-shadow: 0px 0px 4px 3px #00338061;
  border-radius: 4px;
}
#hlist .Hname {
  margin: 10px;
  font-size: xx-large;
  font-family: emoji;
}
#hlist .Haddress {
  color: darkgray;
  margin-top: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}
carousel-indicators button {
  float: left;
  width: 33%;
  height: 10px;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: rgba(255,255,255,0.39);
}
.carousel-indicators button.active {
  background: yellow;
}
.carousel-caption { 
  color: #fa0b0b;
  }
  
.addhsptl-link:hover,.addbeds-link:hover {
    background-color: rgb(171, 102, 255);
    margin-right: 10px;
    .nav-link{
      color: whitesmoke;
    }
  }
